@import '../../components/variables.css';

@custom-media --small-viewport (max-width: 30em);

.root {
  // background: var(--dark-color);
}

.container {
  margin: 0 auto;
  margin-top: -120px;
  padding: 0.6em 0 40px;
  max-width: var(--max-content-width);
}

.card {
  background: #fff;
  margin: 1.5em;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  padding: 1em 0.6em;

  > .heading {
    position: relative;
    display: flex;
    align-items: flex-end;
    // -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    // -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    // -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);

    font-size: 17px;
    font-weight: 600;
    color: var(--dark-grey);
    border-radius: 8px;

    padding: 0.65em 1em;

    &::after {
      content: '';
      position: absolute;
      background: var(--primary-color);
      height: 4.5px;
      width: 75px;
      left: 1em;
      bottom: 1px;
    }
  }

  > .content {
    display: flex;
    padding: 1em 1.5em 1.5em;
    flex-wrap: wrap;
  }
}

.hashtags {
  display: flex;
  justify-content: center;
}

.categoryList {
  padding-left: 2em !important;
  padding-right: 2em !important;

  @media screen and (width <= 375px) {
    > .category {
      lost-column: 1/1;
    }
  }

  @media screen and (width >= 376px) and (width <= 465px) {
    > .category {
      lost-column: 1/2;
    }
  }

  @media screen and (width >= 466px) and (width <= 660px) {
    > .category {
      lost-column: 1/3;
    }
  }

  @media screen and (width >= 661px) {
    > .category {
      lost-column: 1/4;
    }
  }
}

.item {
  display: block;
  width: 100%;
}

.item--gray {
  background: #b8bbbe;
}

.item--gray-light {
  background: #dfe0df;
}

.item--gray-dark {
  background: #47484a;
}

.item--yellow {
  background: #e1c531;
}

.item--pink {
  background: #d59c90;
}

.item--purple {
  background: #c9cae3;
}

.productList {
  > :global(*) {
    width: 100%;
  }
}