.root{
    padding: 2em 4em;
}

.productName {
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0;
}

.productDescription{
    padding: 1em 0;
    font-size: 1.2em;
    line-height: 200%;
}

.productImage {
    padding: 1em 0;
}

.block {
    padding: 1em 0;
}

.label {
    font-weight: bold;
    line-height: 200%;
}

.buttons {
    padding-top: 1em;
}