.root {
  position: fixed;
  height: 750px;
  width: 100%;
  max-width: 425px;
  bottom: 6rem;
  right: 2rem;
  background: #fff;
  box-shadow: 0 1px 3px 3px rgba(0,0,0,.05);
  border-radius: 4px;
}

.tradeRoomsWrapper {
  display: block;
  height: 60px;
  width: 100%;
}

.messagesWrapper {
  display: block;
  height: calc(100% - 60px);
  width: 100%;
}