@import '../../../components/variables.css';

.block {
  padding: 1em;
}

.address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.h {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.header {
  font-weight: 600;
  font-size: 1.5em;

  margin-right: 50px;
}

.meta {
  color: var(--grey);
}

.right {
  float: right;
}

.root {
    padding: 2em 4em;
}

.productName {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

// .block {
//     padding: 0.5em 0;
// }

.optionLabel {
    font-weight: bold;
}