@import '../../components/variables.css';

.root {
  margin: 0 auto;
  margin-top: -120px;
  padding: 0.6em 0 40px;

  @media only screen and (width >= 992px) {
    & {
      display: flex;
    }
  }
}

.left {
  position: relative;
  width: 100%;

  @media only screen and (width >= 992px) {
    & {
      width: 250px;
    }
  }
}

.results {
  flex: 1;
  min-height: calc(100vh - 240px);
}

.content {
  padding: 0.65em 1em;
}

.notFound {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;

  > img {
    display: block;
    width: 60%;
    margin: auto;
  }
  > .text {
    text-align: center;
    font-size: x-large;
    color: #bdc4cc;
  }
}

.productList {
  > :global(*) {
    width: 100%;
  }
}
