.root {
  padding: 2rem;

  > .header {
  
  }
  > .content {
    color: #555;
  }
}

.modal{
  border-radius: 5px;
  width: 100%;
  margin: 20px 0px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  background: white;
  border-color: solid darkgray;
  /*-webkit-box-shadow: 0px 5px 32px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 32px -12px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 32px -12px rgba(0,0,0,0.5); */
}

.modal:hover{
  /* -webkit-box-shadow: 0px 5px 32px -12px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 32px -12px rgba(0,0,0,1); */
  /* box-shadow: 0px 5px 32px -12px rgba(0,0,0,1); */
}

.label{
  font-weight: bold;
  font-size: 14px;
}

.value{
  width: 300px;
  color: #606060;
  font-size: 14px;
}

.contentDetail{
  display: flex;
  flex-wrap: wrap;
}

.address{
  width: 800px;
}

.addressid{
  margin-top: 0em;
  margin-bottom: 0em;
  color: black;
}

.titleValueGroup{
  margin-bottom: 0.2em; 
}