@import '../variables.css';

@keyframes mainlayout {
  from {
    margin-top: 70%;
    opacity: 0.3;
  }
  to {
    margin-top: 0%;
    opacity: 1.0;
  }
}

.root {
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  background: #F6F6F6;
}

.scroll {
  position: relative;
  overflow: hidden;
}