.returnCustomer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.newAddress {
    padding: 0 4em;
}

.remark {
    color: red;
    padding-bottom: 2em;
}

.buttons {
    padding: 2em 0;
}