@import '../variables.css';

:root {
  --brand-color: #FE8C24;
}

.root {
  /* background: #ffffff; */
  /* margin-bottom: 2.5em; */
  /* color: #fff; */
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.head{
  width: 100%;
  padding: 0 1em;
  margin: 1em 0;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.logoWrapper {
  width: 240px;
  float: left;
}

.logo{
  /* width: 356px; */
  /* height: 160px; */
  width: 100%;
  object-fit: contain;
}

.searchWrapper {
  overflow: hidden;
  margin: 2em 1em 1em 3em;
  flex-grow: 2;
}

.searchInput{
  width: 100%;
  max-width: 500px;
}

.searchInput :global(input) {
  border-radius: 2em !important;
}

.searchInput :global input:focus {
  border-color: var(--primary-color) !important;
}

.searchInput :global input:focus~i.icon {
  color: var(--primary-color);
}

.menu {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;

  background: #353535 !important;
  border-radius: 0 !important;
}

.menu :global .item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #fff !important;
}

@media only screen and (min-width: 768px) {
  :global .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: none !important;
  }
}

.menu :global .item::before {
  content: none !important;
}

.welcome {
  padding-left: 1.14285714em !important;
  padding-right: 1.14285714em !important;
}

@media only screen and (max-width: 424px) {
  .hideOnMobile {
    display: none;
  }
}

.highlightedText {
  color: var(--primary-color);
  font-weight: 600;
  padding: 0 0.35em;
}

.home {
  flex-direction: column;
  > .logoWrapper {
    margin: 1.5em 0;
  }
  > .searchWrapper {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 1em;

    > .searchInput {
      max-width: var(--max-content-width);
    }
  }
}

.bg {
  background-image: url(./pattern.png), linear-gradient(255deg, #fa5849, #ff9320);
  background-repeat: no-repeat;
  background-size: 90%,100%;
  background-position: center;

  padding-bottom: 100px;
}