:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Open Sans', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 800px;
  --max-outter-content-width: 1000px;
  --overlap-card-top: -120px;
  --overlap-card-bottom: 120px;


  /*
   * Z-index
   * ======================================================================== */
  --login-depth: 1003;
  --messager-depth: 1010;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  // --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-xs-min: 620px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /*
   * Color palette
   * ======================================================================== */

  --dark-grey: #2d2d2d;
  --grey: #b2b2b2;
  --light-color: #ffffff;
  --dark-color: #f2f2f2;

  --primary-color: #ff9521;
  --secondary-color: #5a6669;

  --dimed-dark-grey: rgba(0, 0, 0, 0.7);

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}