@import '../../../components/variables.css';

.root {
  padding: 0.65em 1em;
  padding-top: 45px;
}

.empty {
  composes: empty from "../User.css";
}

.modal {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 20px 0px;
  padding: 5px;
  background: white;
  border-color: solid darkgray;
  border-radius: 5px;
  /*-webkit-box-shadow: 0px 5px 32px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 32px -12px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 32px -12px rgba(0,0,0,0.5); */
}

.modal:hover {
  /* -webkit-box-shadow: 0px 5px 32px -12px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 32px -12px rgba(0,0,0,1); */
  /* box-shadow: 0px 5px 32px -12px rgba(0,0,0,1); */
}

.pictureWrapper {
  /* max-width: 300px; */
  /* height: 100%; */
  /* flex-grow: 1; */
  width: 35%;
  max-width: 350px;
  max-height: 200px;
  margin: 10px;
  overflow:hidden;
}

.label {
  margin-top: 3em;
  margin-left : 3em;
}