.Ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;

  &.is-reppling {
    animation: ripple 0.5s linear;
  }

  &-parent {
    overflow: hidden;
    // Parent Position Should be Relative, Absolute or Fixed Not Static
    position: relative;
    // position: absolute;
    // position: fixed;
  }
}


@keyframes ripple {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}