@import '../../components/variables.css';

.root {
  display: flex;
  margin-top: var(--overlap-card-top);
  margin-bottom: var(--overlap-card-bottom);
  padding: 0.6em 0 40px;
}

.container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-left: 1em;
}

.profile {
  padding: 1.5rem;

  > .profileImage {
    min-height: 120px;
  }

  > .name {
    margin-top: 1em;
    text-align:center;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
  }

  > .detail {
    color: var(--secondary-color);
    text-align: center;
    line-height: 1.5rem;
  }
}

.mainContent{
  display: flex;
  flex: 1;
  padding: 0 !important;
}

.container {
  margin: 30px;
}

.content {
  flex: 7 0 auto;
  background-color: rgba(0, 0, 0, 0.01);
}

@media (max-width: 620px) {
  .root {
    flex-direction: column;

    .sidebar {
      width: 100%;
      margin: 0;
    }

    .menuWrapper {
      padding: 0 1em;
    }
  }
}