@import '../../components/variables.css';

.root {
  padding: 0.6em 0 40px;
  margin-top: -120px;
}

.container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  // flex: 0 0 12em;
  flex: 1 1 auto;
  display: flex;
  order: -1;
  flex-direction: column;
  
}

.profile {
  padding: 1.5rem 1.5rem 0;
}

.profileImage{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-height: 120px;
}

.name {
  padding-top: 1rem;
  text-align:center;
  font-size: larger;
  font-weight: bold;
  line-height: 2rem;
}

.detail {
  color: #5a5a5a;
  text-align: center;
  line-height: 1.5rem;
}

.menu {
  // padding: 0 1.5rem 1.5rem 1.5rem;
}

.mainContent{
  display: flex;
  padding: 0 !important;
}

.container {
  margin: 30px;
}

.content {
  background-color: rgba(0, 0, 0, 0.01);
  flex: 7 0 auto;
}


.active {
  color: #ffffff;
  background: var(--primary-color);
  border-radius: 7px;
}

li {
  width: 100%;
  margin: 0;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  > a {
    padding: 1rem;
    color: var(--dark-grey);
    display: block;
  }
  // border: 1px solid #ece8e8;
}

li:hover {
  color: rgb(231, 53, 53);
}

a:hover {
  color: rgb(231, 53, 53);
}

ul {
  list-style-type: none;
  display:inline-block;
  margin: 0;
  padding: 0 8.4px 0 0;
  width: 100%;
}

@media (max-width: 620px) {
  .mainContent {
     flex-direction: column;
  }

  li {
  margin: 0; 
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  // border: 1px solid #ece8e8;
  border-radius: 5px;
  }
}