@import '../../components/variables.css';

.root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -120px;
  padding: 0.6em 0 40px;
}

.results {
  display: flex;
  max-width: calc(992px);
  width: 100%;
  min-height: calc(100vh - 240px);
}

.content {
  padding: 0.65em 1em;
}

.notFound {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;

  > img {
    display: block;
    width: 60%;
    margin: auto;
  }
  > .text {
    text-align: center;
    font-size: x-large;
    color: #bdc4cc;
  }
}
