@import '../variables.css';

.item {
  padding: 0.24em 1em;
  padding-top: .85714286em;
  padding-bottom: .85714286em;
  white-space: nowrap;
  user-select: none;

  &::first-child {
    padding-left: 0;
  }
  &::last-child {
    padding-right: 0;
  }
  &:global(.active) {
    color: var(--primary-color);
    font-weight: 800;
  }
}