@import '../variables.css';

.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--login-depth);
  background-color: var(--dimed-dark-grey);

  > .modal {
    position: relative;
    width: 100%;
    width: 90%;
    max-width: 568px;
    max-width: 568px;
    margin: 3em auto;
    padding: 2em;
    background-color: #fff;

  }
}

.forgetPassword {
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.signUp {
  justify-content: center; 
  align-items: center; 
  text-align: center;
}


